.masthead {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#00000070, #ffffffa8),
    url('../assets/img/kyt-beach.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: $font-family-special;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(fade-out($white, 0.1), fade-out($white, 1));
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  h2 {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    color: $kyt-light-50;
  }
  .logo {
    width: 100%;
    height: 20vh;
  }
  #intouch {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    color: $kyt-light;
  }
  @include media-breakpoint-up(md) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
    .logo {
      width: 100%;
      height: 30vh;
    }
    #intouch {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 31rem;
      margin-left: 0;
      margin-right: 0;
      font-size: 1.25rem;
    }
    .logo {
      width: 100%;
      height: 40vh;
    }
    #intouch {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}
