// Override Bootstrap color system

$kyt-dark: #64a19d;
$kyt-medium: #65c583;
$kyt-medium-50: #65c58388;
$kyt-light: #a9dbd2;
$kyt-light-50: #a9dbd288;
$black: #000000;

// Override Bootstrap default state colors

$primary: $kyt-medium;

// Add colors to the color map

$theme-colors: (
  'black': $black,
);
